<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sale.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <style>
        .contentS{
            margin:auto;
            max-width:700px;
            background-color: #333333;
            height: auto;
            margin-top: 30px;
        }
    </style>
</head>
<body>
<div class="glavniDiv" style="background-color: lightgreen;">
    <div class="meni" style="margin-bottom: 5px;">
        <div class="logo">
            <img id="sliba" src="spotify.png">
        </div>
        <div class="linkovi">
            <ul id="listaLinkova">
                <l1 class="link"><a href="pocetna.html">Početna</a></l1>
                <l2 class="link"><a href="sale.html">Sale </a></l2>
                <l3 class="link"><a href="unos.html">Unos</a></l3>
                <l4 class="link"><a href="rezervacija.html">Rezervacije</a></l4>
                <l5 class="link">Osoblje</l5>
            </ul>
        </div>
    </div>

    <div class="contentS" style="width: 700px; background-color: lightgreen; ">
        <table style="width: 700px; margin: auto; border: 1px solid black;">

            <tr>
                <th> Osoblje </th>
                <th> Naziv sale </th>
            </tr>
            <% for(let br=0; br<data.length; br++){%>
            <tr>
                <td><%= data[br].ime_osobe %></td>
                <td><%= data[br].ime_sale %></td>
            </tr>
            <% } %>
        </table>
    </div>

    <div class="contentS" style="width: 800px; background-color: lightgreen;">
        <table style="width: 700px; margin: auto; border: 1px solid black;">
            <tr>
                <th> Broj </th>
                <th> Osoblje </th>
                <th> Kancelarija </th>
            </tr>

            <% for(let br=0; br<data1.length; br++){%>
            <tr>
                <td><%= br+1 %></td>
                <td><%= data1[br].ime_osobe %></td>
                <td><%= data1[br].kancelarija %></td>
            </tr>
            <% } %>

        </table>
    </div>

    </div>
</div>


<script>

    function refreshujOsobe() {

        $.get("/osobe", function(data, status){

            var ajaxRequest = new XMLHttpRequest();

            ajaxRequest.open('GET', 'http://localhost:8080/osobe', true);
            ajaxRequest.setRequestHeader('Content-Type', 'application/json');

            ajaxRequest.send();
            location.reload()
        })
    }

    setInterval(refreshujOsobe, 30000);
</script>

</body>
</html>
