body, html {
    margin: 0px;
    padding: 0px;
  }
  
  .glavniDiv {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 0px;
  }
  
  
  #sliba {
    height: 60px;
    width: 60px;
    transform: translate3d(0, 50%, 0);
  }
  
  .link {
    margin: 4px;
  }
  
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgreen;
  }
  
  .meni {
    width: 100%;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 5px;
  }
  
  .linkovi {
    display: flex;
    justify-content: center;
    height: 105px;
    align-items: flex-end;
  }
  
  #listaLinkova {
    padding: 0px;
  }
  
  .sadrzaj {
    display: flex;
    background-color: lightgreen;
    height: 100vh;
    width: 100%;
    justify-content: center;
  }
  
  #naslov {
    text-align: center;
  }
  
  #nazivSale {
    text-align: right;
  }
  
  .tabelaSala {
    margin: 15px;
  }
  
  .headerSprat {
    background-color: darkgrey;
    width: 40px;
    height: 40px;
    padding: 5px;
  }
  
  .headerRedni {
    background-color: lightgrey;
  }
  
  #redniBroj {
    vertical-align: bottom;
    text-align: left;
  }
  
  .slobodnaSala {
    background: green;
  }
  
  .zauzetaSala {
    background: orange;
  }
  
  .sala {
    background: white;
  
  }
  
  .kancelarija {
    background: grey;
  
  }
  
  .cosakTabele {
    border: 0px;
  }
  
  table {
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid black;
  }
  
  ul {
    margin: 30px;
    height: 15px;
  }
  
  
  .slobodnaSala, .zauzetaSala, .sala, .kancelarija {
    font-family: 'Times New Roman', Times, serif;
    height: 30px;
    font-size: 15px;
    vertical-align: top;
    text-align: left;
  }
  
  @media all and (max-width: 600px) {
    .headerSprat {
      visibility: hidden;
    }
  
    .headerRedni {
      visibility: hidden;
    }
    .cosakTabele {
      visibility: hidden;
    }
    .meni {
      flex-direction: column;
    }
  
    #listaLinkova {
      height: 125px;
      width: 80px;
      padding: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    } 
  
    .spisakSala {
      margin: -70pt;
      margin-left: -125pt;
    }
  
    .linkovi {
      height: 215px;
      display: flex;
    }
  }
  