body, html {
 margin: 0px;
 padding: 0px;
}

.glavniDiv {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 0px;
}


#sliba {
  height: 60px;
  width: 60px;
  transform: translate3d(0, 50%, 0);
}

.link {
 margin: 4px;
}

.linkovi {
  display: flex;
  justify-content: center;
  height: 105px;
  align-items: flex-end;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgreen;
}

.meni {
  width: 100%;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5px;
}

.sadrzaj {
 display: flex;
 flex-direction: column;
 background-color: lightgreen;
 height: 100%;
 width: 100%;
 justify-content: center;
 align-items: center;
}

.slika {
  height: 250px;
  width: 250px;
  margin: 10px;
}

.slike {
  display: flex;
  width: 900px;
  flex-direction: row;
  padding: 80px 10px 10px 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#listaLinkova {
  padding: 0px;
}

#listaLinkova {
  margin: 30px;
  height: 15px;
  padding-left: 0px;
}


@media all and (max-width: 600px) {
  .slika {
    height: 200px;
    width: 200px;
    margin: 10px;
  }

  .ul {
    height: 0px;
  }

  .slike {
    display: flex;
    width: 250px;
    flex-direction: row;
    padding: 80px 10px 10px 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .meni {
    flex-direction: column;
  }

   #listaLinkova {
    height: 125px;
    width: 80px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .linkovi {
    height: 215px;
    display: flex;
  }
}

