body, html {
 margin: 0px;
 padding: 0px;
}

.glavniDiv {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 0px;
}

#mjesec {
  font-weight: bold;
}

.formaDatum {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 10px;
}

.unosDatuma {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#listaLinkova {
  padding: 0px;
}

#sliba {
  height: 60px;
  width: 60px;
  transform: translate3d(0, 50%, 0);
}

.link {
 margin: 4px;
}

.linkovi {
  display: flex;
  justify-content: center;
  height: 105px;
  align-items: flex-end;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgreen;
}

.meni {
  width: 100%;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5px;
}

.sadrzaj {
 display: flex;
 background-color: lightgreen;
 height: 100vh;
 width: 100%;
 flex-direction: column;
 align-items: center;
}

/* celija - unutra 2 mala diva */
.celijaTabele {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 2px solid blue;
}

/* div za broj */
.celijaBroj {
  background-color: white;
  border-bottom: 2px solid blue;
  text-align: center;
  flex: 1;
}

/* za boju */
.slobodna {
  background-color: green;
  /* border: 2px solid blue; */
  color: transparent;
  flex: 1;
}

/* - || - */
.zauzeta {
  background-color: orangered;
  border: 2px solid blue;
  color: transparent;
  flex: 1;
}

.listaSala {
  margin: 10px;
   width: 150px;
   height: 40px;
}

.kalendar {
  border: 2px solid blue;
  margin: 10px;
  background-color: lightblue;
  padding: 10px;
}

.dani {
  border: 2px solid blue;
  text-align: center;
  /* display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 5px; */
}

.tabelaKalendar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.redTabela {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.redTabelaPrikaz {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.prazni {
  visibility: hidden; /* ovako ucinimo cijelu celiju "nevidljivom", a da ocuvamo prethodni raspored elemenata */
}



.dugmadi {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.dugme {
  background-color: lightblue;
  border: 2px solid blue;
  height: 25px;
  width: 80px;
}

#listaLinkova {
  margin: 30px 0px;
  height: 15px;
  padding-left: 0px;
}

@media all and (max-width: 600px) {
  .tabelaKalendar {
    display: flex;
    flex-direction: row;
  }
  
  .redTabela {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* visibility: hidden; */
    display: none;
  }

  .redTabelaPrikaz {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h3{
    margin: 10px 20px;
  }

  .meni {
    flex-direction: column;
  }

  #listaLinkova {
    height: 125px;
    width: 80px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } 

  .linkovi {
    height: 215px;
    display: flex;
  }
}
