body, html {
 margin: 0px;
 padding: 0px;
}

.glavniDiv {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 0px;
}


#sliba {
  height: 60px;
  width: 60px;
  transform: translate3d(0, 50%, 0);
}

.link {
 margin: 4px;
}

.linkovi {
  display: flex;
  justify-content: center;
  height: 105px;
  align-items: flex-end;
}

#listaLinkova {
  padding: 0px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgreen;
}

.meni {
  width: 100%;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 5px;
}

.sadrzaj {
 display: flex;
 background-color: lightgreen;
 height: 100vh;
 width: 100%;
 justify-content: center;
}

.labela {
  display: block;
  display: inline-block;
  width: 150px;
}

.forma {
  margin-top: 15px;
}

#listaLinkova {
  margin: 30px;
  height: 15px;
  padding-left: 0px;
}

@media all and (max-width: 600px) {
  .forma {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  }

  .meni {
    flex-direction: column;
  }

  #listaLinkova {
    height: 125px;
    width: 80px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  } 

  .linkovi {
    height: 215px;
    display: flex;
  }
}
